<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.motionblurstudiosllc.groovymusic" android:installLocation="auto" android:versionName="0.1">
	<uses-sdk />
	<application android:label="Groovy Music"></application>
</manifest>